<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462180809936-9jnmcd1a6n0dc0b6ue6naikqhaag6fv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462180809936-9jnmcd1a6n0dc0b6ue6naikqhaag6fv6</string>
	<key>API_KEY</key>
	<string>AIzaSyB9ICFhtcXBJu-5BPSTUXqmZ_W0_2x7Zmo</string>
	<key>GCM_SENDER_ID</key>
	<string>462180809936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyun.instagram</string>
	<key>PROJECT_ID</key>
	<string>fluttergram-d94a8</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttergram-d94a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462180809936:ios:41252e48b8cf2d0d2132d5</string>
</dict>
</plist>